################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Trees/Utility.Trees.Demo/Data/schemas.litedb
