################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UtilityHelperEx/bin
/UtilityHelperEx/obj
*.suo
/UtilityHelperEx/.vs/UtilityHelperEx/DesignTimeBuild/.dtbcache.v2
