   body {
            font-family: Segoe UI, sans-serif;
            padding: 20px;
            background: #fafafa;
        }

 

        /* TABLE */
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 12px;
        }

      th, td {
            text-align: left;
            padding: 6px 0;
        }

        th {
            font-weight: bold;
        }
        img {
            width: 200px;
            height: auto;
        }

        .hidden {
            display: none; /* Hides the element completely */
        }

        .title {
            font-size: 28px;
            font-weight: bold;
            text-align: center;
            margin-bottom: 4px;
        }

        .subtitle {
            font-size: 18px;
            font-style: italic;
            text-align: center;
            margin-bottom: 20px;
        }

      